<section class="section" id="contributors">
  <div class="wrap">
    <h2>Contributors</h2>

    <div class="contributors">
      <div class="contributors__group">
        <h3>Investigators</h3>
        <ul class="contributors__list">
          <li>Roberto Rosselli Del Turco - University of Turin <span class="contributor__years">(2010&ndash;present)</span></li>
          <li>Daniel Paul O'Donnell - University of Lethbridge <span class="contributor__years">(2010&ndash;present)</span></li>
          <li>Marco Callieri - ISTI CNR <span class="contributor__years">(2010&ndash;present)</span></li>
          <li>Roberto Scopigno - ISTI CNR <span class="contributor__years">(2010&ndash;present)</span></li>
          <li>Matteo Dellepiane - ISTI CNR <span class="contributor__years">(2010&ndash;2019)</span></li>
          <li>Catherine E. Karkov - University of Leeds <span class="contributor__years">(2010&ndash;2020)</span></li>
          <li>Dorothy Porter - UPenn Schoenberg Institute for Manuscript Studies <span class="contributor__years">(2010&ndash;2018)</span></li>
          <li>Wendy Osborn - University of Lethbridge <span class="contributor__years">(2010&ndash;2018)</span></li>
          <li>James Graham - University of Lethbridge <span class="contributor__years">(2010&ndash;2018)</span></li>
          <li>Martin Foys - University of Wisconsin-Madison <span class="contributor__years">(2010&ndash;2012)</span></li>
        </ul>
      </div>

      <div class="contributors__group">
        <h3>ISTI CNR &amp; University of Pisa</h3>
        <p class="pub-meta">
          Consiglio Nazionale delle Ricerche &ndash; Istituto di Scienza e Tecnologie dell'Informazione
        </p>
        <ul class="contributors__list">
          <li>Chiara Leoni - Student <span class="contributor__years">(2011&ndash;2013)</span></li>
          <li>Federico Nomellini - Student <span class="contributor__years">(2012&ndash;2014)</span></li>
          <li>Giacomo Cerretini - Student <span class="contributor__years">(2018&ndash;2020)</span></li>
          <li>Federica Spinelli - Student <span class="contributor__years">(2018&ndash;2020)</span></li>
        </ul>
      </div>

      <div class="contributors__group">
        <h3>Humanities Innovation Lab, University of Lethbridge</h3>
        <ul class="contributors__list">
          <li>Heather Hobma - Student <span class="contributor__years">(2012&ndash;2014)</span></li>
          <li>Gurpreet Singh - Project Manager <span class="contributor__years">(2015&ndash;2021)</span></li>
          <li>Jocelyn McKnight - Student <span class="contributor__years">(2024&ndash;present)</span></li>
        </ul>
      </div>
    </div>
  </div>
</section>
