<section class="section">
  <div class="wrap">
    <div class="section-head">
      <h2>The Team</h2>
      <p>
        The people running the project today. A fuller list of everyone who has
        worked on the Visionary Cross Project since 2010 is on the About page.
      </p>
    </div>

    <ul class="member-grid">
      <li class="member">
        <p class="member__name">Daniel Paul O'Donnell</p>
        <p class="member__role">University of Lethbridge</p>
      </li>

      <li class="member">
        <p class="member__name">Roberto Rosselli Del Turco</p>
        <p class="member__role">University of Turin</p>
      </li>

      <li class="member">
        <p class="member__name">Marco Callieri</p>
        <p class="member__role">ISTI CNR</p>
      </li>

      <li class="member">
        <p class="member__name">Jocelyn McKnight</p>
        <p class="member__role">University of Hong Kong</p>
      </li>
    </ul>

    <div class="view-all-row">
      <a class="btn" href="{{ site.baseurl }}/about/#contributors">More Collaborators</a>
    </div>
  </div>
</section>
