    <div class="pub-group" id="articles">
      <h2>Articles &amp; Book Chapters</h2>
      <ul class="publication-list">
        <li class="publication">
          <p class="pub-title">Thinking about Stone: An Elemental Encounter with the Ruthwell Cross</p>
          <p class="pub-authors">Catherine E. Karkov</p>
          <p class="pub-meta">In Slow Scholarship: Medieval Research and the Neoliberal University, ed. Catherine E. Karkov. Woodbridge: York Medieval Press, 2019.</p>
          <p class="pub-links">
            <a href="https://doi.org/10.1515/9781787447042-009" target="_blank" rel="noopener">DOI</a>
          </p>
        </li>
        <li class="publication">
          <p class="pub-title">Archaeology in the Study: Scanning Anglo-Saxon Artifacts in the Visionary Cross Project</p>
          <p class="pub-authors">Daniel Paul O'Donnell, Marco Callieri, Matteo Dellepiane, Catherine E. Karkov, Dot Porter &amp; Roberto Rosselli Del Turco</p>
          <p class="pub-meta">Wiðowinde 185 (Spring 2018), pp. 21&ndash;27.</p>
          <p class="pub-links">
            <a href="https://doi.org/10.5281/zenodo.1208167" target="_blank" rel="noopener">DOI</a>
          </p>
        </li>
        <li class="publication">
          <p class="pub-title">Ruthwell Cross</p>
          <p class="pub-authors">Catherine E. Karkov</p>
          <p class="pub-meta">In The Encyclopedia of Medieval Literature in Britain. Oxford: Wiley-Blackwell, 2017.</p>
          <p class="pub-links">
            <a href="https://doi.org/10.1002/9781118396957.wbemlb050" target="_blank" rel="noopener">DOI</a>
          </p>
        </li>
        <li class="publication">
          <p class="pub-title">Modern Impact on the Fabric of the Ruthwell Cross</p>
          <p class="pub-authors">Heather Hobma, Daniel Paul O'Donnell, Catherine E. Karkov, Sally Foster, James Graham, Wendy Osborn, Roberto Rosselli Del Turco, Robert Broatch, Susan Broatch, Marco Callieri &amp; Matteo Dellepiane</p>
          <p class="pub-meta">Old English Newsletter (OEN), vol. 46, no. 1 (2016).</p>
          <p class="pub-links">
            <a href="https://www.stir.ac.uk/research/hub/publication/1024177" target="_blank" rel="noopener">Abstract</a>
          </p>
        </li>
        <li class="publication">
          <p class="pub-title">The Dream and the Cross: A 3D Scanning Project to Bring 3D Content in a Digital Edition</p>
          <p class="pub-authors">Chiara Leoni, Marco Callieri, Matteo Dellepiane, Daniel Paul O'Donnell, Roberto Rosselli Del Turco &amp; Roberto Scopigno</p>
          <p class="pub-meta">ACM Journal on Computing and Cultural Heritage (JOCCH), vol. 8, no. 1 (2015), article 5.</p>
          <p class="pub-links">
            <a href="https://doi.org/10.1145/2686873" target="_blank" rel="noopener">DOI</a>
          </p>
        </li>
        <li class="publication">
          <p class="pub-title">Artworks Narrating a Story: A Modular Framework for the Integrated Presentation of Three-Dimensional and Textual Contents</p>
          <p class="pub-authors">Marco Callieri, Chiara Leoni, Matteo Dellepiane &amp; Roberto Scopigno</p>
          <p class="pub-meta">Proceedings of Web3D 2013 (18th International Conference on 3D Web Technology). New York: ACM, 2013, pp. 167&ndash;175.</p>
          <p class="pub-links">
            <a href="https://doi.org/10.1145/2466533.2466548" target="_blank" rel="noopener">DOI</a>
          </p>
        </li>
      </ul>
    </div>
