<div class="pub-group">
      <h2>Talks &amp; Posters</h2>
      <ul class="publication-list">
        <li class="publication">
          <p class="pub-title">Loss and Editorial Mediation in the 3D Edition: Translating Stone to Screen in the Visionary Cross Project</p>
          <p class="pub-authors">Jocelyn McKnight, Daniel Paul O'Donnell &amp; Roberto Rosselli Del Turco</p>
          <p class="pub-meta">2026 CSDH/SCHN Annual Conference, Montréal, 3 June 2026.</p>
          <p class="pub-links">
            <a href="https://www.conftool.net/csdh-schn-2026/index.php?page=browseSessions&amp;form_session=9#paperID173" target="_blank" rel="noopener">Programme</a>
          </p>
        </li>
        <li class="publication">
          <p class="pub-title">Stone to Screen: The Visionary Cross Digital Edition</p>
          <p class="pub-authors">Jocelyn McKnight</p>
          <p class="pub-meta">Poster. University of Lethbridge Summer Research Showcase, 14 August 2025.</p>
          <p class="pub-links">
            <a href="https://zenodo.org/records/16253377" target="_blank" rel="noopener">Poster</a>
            <a href="https://doi.org/10.5281/zenodo.16253377" target="_blank" rel="noopener">DOI</a>
          </p>
        </li>
        <li class="publication">
          <p class="pub-title">I'm Looking Through You: Building the Interface for a 3D Edition for The Visionary Cross Project</p>
          <p class="pub-authors">Jocelyn McKnight, Daniel Paul O'Donnell, Roberto Rosselli Del Turco &amp; Barbara Bordalejo</p>
          <p class="pub-meta">Session 5B, "Space and Sound." Congress 2025 &mdash; CSDH/SCHN, Toronto, 1 June 2025.</p>
          <p class="pub-links">
            <a href="https://zenodo.org/records/15569527" target="_blank" rel="noopener">Slides</a>
            <a href="https://doi.org/10.5281/zenodo.15569527" target="_blank" rel="noopener">DOI</a>
          </p>
        </li>
        <li class="publication">
          <p class="pub-title">Good Things Come in Small Packages: Designing Distributed Editions and Tools for the Age of FAIR Data</p>
          <p class="pub-authors">Daniel Paul O'Donnell &amp; Roberto Rosselli Del Turco</p>
          <p class="pub-meta">Assemblée Générale du consortium CAHIER, France, 27 November 2020.</p>
          <p class="pub-links">
            <a href="https://zenodo.org/records/4293723" target="_blank" rel="noopener">Slides</a>
            <a href="https://doi.org/10.5281/zenodo.4293723" target="_blank" rel="noopener">DOI</a>
          </p>
        </li>
        <li class="publication">
          <p class="pub-title">Publishing (and Forgetting) the Small or Medium-sized Scholarly Edition or Cultural Heritage Collection as Linked Open Data: Using Zenodo and GitHub to Publish the Visionary Cross Project</p>
          <p class="pub-authors">Daniel Paul O'Donnell</p>
          <p class="pub-meta">Digital Humanities 2019 (DH2019), Utrecht, 10 July 2019.</p>
          <p class="pub-links">
            <a href="https://zenodo.org/record/3586007" target="_blank" rel="noopener">Slides</a>
            <a href="https://doi.org/10.5281/zenodo.3586007" target="_blank" rel="noopener">DOI</a>
          </p>
        </li>
        <li class="publication">
          <p class="pub-title">Let's Get Nekkid! Stripping the User Experience to the Bare Essentials</p>
          <p class="pub-authors">Daniel Paul O'Donnell, Gurpreet Singh, Dot Porter &amp; Roberto Rosselli Del Turco</p>
          <p class="pub-meta">Conference presentation on minimalist interface design at the Visionary Cross Project, 2019.</p>
          <p class="pub-links">
            <a href="https://zenodo.org/records/3267957" target="_blank" rel="noopener">Slides</a>
            <a href="https://doi.org/10.5281/zenodo.3267957" target="_blank" rel="noopener">DOI</a>
          </p>
        </li>
        <li class="publication">
          <p class="pub-title">Living Out Loud: The Visionary Cross Project and the Public Humanities</p>
          <p class="pub-authors">Heather Hobma, Daniel Paul O'Donnell, Marco Callieri, Matteo Dellepiane, James Graham, Catherine E. Karkov &amp; Roberto Rosselli Del Turco</p>
          <p class="pub-meta">CMRS/ETRUS Seminar Series, University of Saskatchewan, Saskatoon, 16 January 2014.</p>
          <p class="pub-links">
            <a href="https://zenodo.org/records/15712700" target="_blank" rel="noopener">Slides</a>
            <a href="https://doi.org/10.5281/zenodo.15712700" target="_blank" rel="noopener">DOI</a>
          </p>
        </li>
        <li class="publication">
          <p class="pub-title">The Dream and the Cross: Bringing 3D Content in a Digital Edition</p>
          <p class="pub-authors">Chiara Leoni, Marco Callieri, Matteo Dellepiane, Roberto Rosselli Del Turco, Daniel Paul O'Donnell &amp; Roberto Scopigno</p>
          <p class="pub-meta">Digital Heritage International Congress, Marseille. IEEE, 2013, pp. 281&ndash;288.</p>
          <p class="pub-links">
            <a href="https://vcg.isti.cnr.it/publication/2013/LCDRO13/" target="_blank" rel="noopener">Paper</a>
          </p>
        </li>
        <li class="publication">
          <p class="pub-title">The Visionary Cross Project</p>
          <p class="pub-authors">Daniel Paul O'Donnell et al.</p>
          <p class="pub-meta">ISAS 2013 (International Society of Anglo-Saxonists), Trinity College &amp; University College Dublin, 29 July 2013.</p>
        </li>
        <li class="publication">
          <p class="pub-title">Immersive Interpretation and the Small Cultural Heritage Site: The Case of Ruthwell Kirk</p>
          <p class="pub-authors">Daniel Paul O'Donnell</p>
          <p class="pub-meta">Canadian Society for Digital Humanities (CSDH/SCHN), Victoria, 5 June 2013.</p>
        </li>
        <li class="publication">
          <p class="pub-title">Il progetto Visionary Cross: verso un'edizione digitale multimediale e distribuita</p>
          <p class="pub-authors">Chiara Leoni &amp; Roberto Rosselli Del Turco</p>
          <p class="pub-meta">First AIUCD Annual Conference, Florence, 13&ndash;14 December 2012.</p>
          <p class="pub-links">
            <a href="https://www.academia.edu/11921770" target="_blank" rel="noopener">Paper</a>
          </p>
        </li>
      </ul>
    </div>
